.sidebar {
    /* display: none; */
    background-color: #0f1B21; /* Dark background color */
    color: #fff; /* Light text color */
    width: 250px; /* Set the width of the sidebar */
    height: 100%; /* Make the sidebar full height */
    position: fixed; /* Fix the position of the sidebar */
    top: 0; /* Position it at the top */
    left: 0; /* Position it at the left */
    overflow-y: auto; /* Add scrolling if content exceeds height */
    border-right: 2px solid #fff; /* Add a white border to the right side */
  }
  
  .logo {
    /* text-decoration: none; */
    /* color: #fff; */
    display: block;
    /* font-size: 24px;  */
    /* font-weight: bold;  */
    margin-bottom: 30px; 
    /* text-align: center; */
    /* letter-spacing: 2px;  */
  }

  .logo img {
    width: 100%;
    height: 100%;
    /* margin-bottom: -20px; */
  }
  
  .user-info,
  .auth-links {
    margin-top: 100px;
  }

  .user-info a,
  .auth-links a,
  .sidebar-links a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
    padding: 10px 50px; /* Adjust padding for a more comfortable button-like feel */
    border: 2px solid transparent; /* Increase border width for a more prominent look */
    border-radius: 5px; /* Add border radius for rounded corners */
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease; /* Add transition effect for smoother interaction */
  }
  
  .user-info a:hover,
  .auth-links a:hover,
  .sidebar-links a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Change background color on hover */
    border-color: #fff; /* Change border color on hover */
    transform: scale(1.05); /* Scale up the link slightly on hover for a subtle interactive effect */
    text-decoration: none; /* Remove underline on hover */
  }
  @media (max-width:700px){
    .sidebar{
      display: none;
    }
  }

  /* @media (max-width:1340px) {
    .sidebar{
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 99%;
      margin: auto;
      border: 2px solid red;
      overflow: visible;
      height: 7rem;
  

    }
    .user-info{
      display: none;
      border: 2px solid red;
      margin-top: 0;

    }
    .menu-list{
      border: 2px solid yellow;
      position: absolute;
      height: 30rem;
      top: 7rem;
      left: 0;
       background-color: #0f1B21;
    z-index: 20000;
       width: 100%;
      display:grid;

      align-items: center;
      justify-content: center;
  
    }
    .menu-list a{

      padding: 2rem;
      font-size: large;
      text-decoration: none;
      color: #fff;
    }
    .sidebar-links{
      display: none;
    }
    .logo{
      margin-left: 1rem;
      margin-bottom: 0;
    }
    .menu-button{
      margin-right:1rem ;
    }
    .logo img {
  
     height: 5rem;
     width: 8rem;

   
  }
  } */