.profile{
    /* border: 2px solid yellow; */
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-card {

    margin-top: 17px;
    margin-bottom: 20px;
  background-color: #1f3540;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(108, 234, 234);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 500px;
  height: auto;
  
  position: relative;
  top: 0px;
  left: 0%;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.profile-info {
  margin-left: 0px !important;
  /* border: 2px solid aqua; */
  
}

.profile-info h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  position:relative;
  top: 0;
  right: 0%;
}

.profile-info p {
  font-size: 1.3em;
  margin-bottom: 15px;
  position: relative;
  top: 0;
  right: 0;
}

.edit-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  margin-top: 18px;
  padding: 10px 20px;
  font-size: small;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  bottom: 0;
  right: 0;
  /* Adjust this value according to your preference */
}

.edit-button:hover {
  background-color: #0056b3;
}

.score {
  font-size: 1.3em;
  background-color: #2980b9;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 0;
  position: relative;
  top: 0;
  right: 0;
}

.profile-picture {
  position: relative;
  top: 0;
  left: 0;
  /* margin-left: auto; */
  transform:none;
  width:130px;
  height:130px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-details {
  /* border: 2px solid blanchedalmond; */
  display: flex;
  font-size: large;
  text-align: center;
  flex-direction: column;
}

.tic-tac-toe-icons {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 3em;
  color: #ffffff;
}

.Chart {
  height: auto;
  width: auto;
  display: block;
  position: relative;
  top: 0px;
  right:0px;
  margin-bottom: 20px;
  background-color: #1f3540;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.Chart canvas {
  position: relative;
  top: 0;
  left: 0;
  height:auto !important;
  width: 500px !important;
  display: block;
}

.Chart h2 {
  position: absolute;
  top: 250px;
  left: 45%;
  color: #ffffff;
}
@media (max-width:700px) {
  .profile{
    /* border: 2px solid yellow; */
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile-card {
    margin-top: 17px;
    margin-bottom: 20px;
  background-color: #1f3540;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(108, 234, 234);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: auto;
  height: auto;
  ;
  position: relative;
  top: 0px;
  left: 0%;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.profile-info {
  margin-left: 0px !important;
  /* border: 2px solid aqua; */
  
}

.profile-info h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  position:relative;
  top: 0;
  right: 0%;
}

.profile-info p {
  font-size: 1.3em;
  margin-bottom: 15px;
  position: relative;
  top: 0;
  right: 0;
}

.edit-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  margin-top: 18px;
  padding: 10px 20px;
  font-size: small;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  bottom: 0;
  right: 0;
  /* Adjust this value according to your preference */
}

.edit-button:hover {
  background-color: #0056b3;
}

.score {
  font-size: 1.3em;
  background-color: #2980b9;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 0;
  position: relative;
  top: 0;
  right: 0;
}

.profile-picture {
  position: relative;
  top: 0;
  left: 0;
  /* margin-left: auto; */
  transform:none;
  width:60px;
  height:60px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-details {
  /* border: 2px solid blanchedalmond; */
  display: flex;
  font-size: large;
  text-align: center;
  flex-direction: column;
}

.tic-tac-toe-icons {
  position: relative;
  top: 20px;
  left: 20px;
  font-size: 3em;
  color: #ffffff;
}

.Chart {
  height: auto;
  width: auto;
  display: block;
  position: relative;
  top: 0px;
  right:0px;
  margin-bottom: 20px;
  background-color: #1f3540;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.Chart canvas {
  position: relative;
  top: 0;
  left: 0;
  height:auto !important;
  width: 300px !important;
  display: block;
}

.Chart h2 {
  position: absolute;
  top: 150px;
  left: 45%;
  color: #ffffff;
}
}