.boardContainer {
    display: none;
    text-align: center;
    margin-top: 50px;
    margin-left: -200px;
    
}

.title {
    margin-top: 20px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    padding: 10px;
    height: 30px;
}

.reset {
    width: 180px;
    height: 70px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 35px;
    background: #1f3540;
    font-size: 20px;
    color: #26ffcb;
    margin-top: 15px;
    margin-bottom: 25px;
}

.box {
    display: flex;
    height: 140px;
    width: 140px;
    background: #1f3540;
    border: 3px solid #0f1b21;
    border-radius: 10px;
    cursor: pointer;
}

.box img {
    margin: 30px;
}

.board {
    height: 450px;
    width: 424px;
    display: flex;
    margin: auto;
}

@media (max-width:1350px) {
    .boardContainer {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid red; */
    
    /* position: absolute; */
    margin-top: 50px !important;
    margin-left: -1px !important;
    
}

.title {
    margin-top: 20px;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    display: none;
    padding: 10px;
    height: 30px;
}

.reset {
    width: 180px;
    height: 70px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 35px;
    background: #1f3540;
    font-size: 20px;
    color: #26ffcb;
    margin-top: 15px;
    margin-bottom: 25px;
}

.box {
    display: flex;
    height: 100px !important;
    width: 100px !important;  
    background: #1f3540;
    border: 3px solid #0f1b21;
    border-radius: 10px;
    cursor: pointer;
}

.box img {
    margin: 30px;
}

.board {
    height: auto !important;
    width: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid yellow; */
    margin: auto;
}

}